.navbar-custom {
  background-color: #E02222;
}

.header {
  background-color: #E02222;
}

.icon-profile {
  width:45px;
  height:45px;
}

.wall {
  position: relative;
  text-align: justify;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:35px;
  width:100%;
  background:#E3EFD5;
}