<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WariQué Terms And Conditions</title>
</head>

<body>
  <h1>WariQué?</h1>
  <h2>Términos y Condiciones</h2>
  <p>El objetivo de esta aplicación es compartir información sobre dónde sirven los 'mejores' platos. Puedes recomendar platos
    de comida en lugares específicos. Debes estar consciente con que esta aplicación está dirigida a todo público, así que
    debes respetar cualquier opinión de otro usuario, no se acepta el contenido ofensivo en los post, de lo contrario su
    cuenta en la app será eliminida y bloqueada, sin ningún tipo de acceso. Gracias por aceptar nuestra política, ahora sí
    disfruta de esta app, para descubrir los mejores WariQues de comida del Perú
  </p>
  <a href="../methods.html">
    <img src="/img/android-icon-36x36.png" type="image/png" sizes="32x32" href="/favicon-32x32.png"></a>
  <hr>
  <footer>
    Proyecto desarrollado por Jahzell, Kelly y Kalu
  </footer>

</body>

</html>