* {
    box-sizing: border-box;
}
/* fondo */
#login-section{
float: left;
background: url(../img/css/fondo.jpeg);
height:100%;
width: 100%;
position: relative;
background-size:cover;
padding: 0%;
}

/* #login-section:before{
content: "";
height:100%;
width: 100%;
background-color: black;
position: absolute;
opacity: 0.2;
} */

/* imagen wariqué */
#login-section #login img{
    border-radius:100px 100px;
}

#login-section #login h2{
    color: white;
}
/* botones */
#google-button{
    width: 70%;
}

#facebook-button{
    width: 70%;
}

#sign-in-button{
    color: white;
}

